.reminder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem;
  }
  
  .reminder-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .login-input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .reminder-form label {
    margin-bottom: 10px;
  }
  
  .reminder-form input {
    margin-left: 10px;
  }
  
  .add-reminder-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #1E90FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .reminder-list {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
  }
  
  .reminder-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 2rem;
  }
  
  
  .reminder-info {
    margin-right: 10px;
    gap: 5rem;
  }
  
  .complete-reminder-btn {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #1E90FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .delete-reminder-btn {
    color: red;
    padding: 10px 20px;
    background-color: #dc1717;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .logout-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc1717;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  